/*index styling*/

h1, h2 {
  font-family: 'Trirong', serif;
  color: #242929;
}

#indexBody {
  font-family: 'Rubik', sans-serif;
  background-color: #92B6D5;
  text-align: center;
}

#dropMenu {
  font-size: 16px;
}

#quantity {
  width: 200px;
  font-size: 16px;
}

.customerInput {
  width: 300px;
  font-size: 16px;
}

fieldset {
  text-align: center;
}

button {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  height: 50px;
  font-size: 16px;
  color: white;
  border-color: #36486b;
  background-color: #005960;
  border-width:medium;
  border-radius: 10px;
}

/*Cart styling*/

#cartBody {
  font-family: 'Rubik', sans-serif;
  background-color: #92B6D5;
}

#yourCart {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

table {
	border: 8px solid #3e4444;
  border-radius: 5px;
}

td {
  font-family: 'Rubik', sans-serif;
  background-color: #618685;
  color: white;
	padding: 10px;
  text-align: center;
	border-radius: 10px;
  border: 1px solid #3e4444;
}

th {
	background-color: #034F84;
	color: white;
}
