/*index styling*/

h1, h2 {
  font-family: 'Trirong', serif;
  color: #454140;
}

#indexBody {
  font-family: 'Rubik', sans-serif;
  background-color: #92B6D5;
  text-align: center;
}

#dropMenu {
  font-size: 16px;
}

#quantity {
  width: 200px;
  font-size: 16px;
}

.customerInput {
  width: 300px;
  font-size: 16px;
}

fieldset {
  text-align: center;
}

button {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  height: 50px;
  font-size: 16px;
  color: white;
  border-color: #004B8D;
  background-color: #88B04B;
  border-width:medium;
  border-radius: 10px;
}

/*Cart styling*/

#cartBody {
  font-family: 'Rubik', sans-serif;
  background-color: #92B6D5;
}

#yourCart {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

table {
	border: 8px solid black;
  border-radius: 5px;
}

td {
  font-family: 'Rubik', sans-serif;
  background-color: gray;
  color: white;
	padding: 10px;
  text-align: center;
	border-radius: 10px;
  border: 1px solid black;
}

th {
	background-color: navy;
	color: white;
}
